<nav class="navbar navbar-expand-sm navbar-light bg-light-subtle">
  <div class="container">
    <a class="navbar-brand fw-bold" href="#">
      <img src="assets/ems-logo.png" width="60" height="42" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ms-auto fw-light">
        <li class="nav-item">
          <a class="nav-link" routerLink="/employee-list">Mitarbeiter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/qualification-list">Qualifikationen</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-danger" (click)="logout()">Ausloggen</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
