<div class="container mt-4">
  <h1 class="mb-4">Mitarbeiterdaten</h1>
  <table class="table table-striped">
    <tbody>
    <tr>
      <th class="left-column">Mitarbeiter-ID</th>
      <td>{{ employee?.id }}</td>
    </tr>
    <tr>
      <th>Vorname</th>
      <td>{{ employee?.firstName }}</td>
    </tr>
    <tr>
      <th>Nachname</th>
      <td>{{ employee?.lastName }}</td>
    </tr>
    <tr>
      <th>Straße</th>
      <td>{{ employee?.street }}</td>
    </tr>
    <tr>
      <th>Postleitzahl</th>
      <td>{{ employee?.postcode }}</td>
    </tr>
    <tr>
      <th>Stadt</th>
      <td>{{ employee?.city }}</td>
    </tr>
    <tr>
      <th>Telefon</th>
      <td>{{ employee?.phone }}</td>
    </tr>
    <tr>
      <th>Qualifikationen</th>
      <td>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let skill of employee.skillSet">{{ skill.id }} - {{ skill.skill }}</li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
  <button (click)="onEdit()" class="btn btn-warning mt-3">Mitarbeiter bearbeiten</button>
</div>
