/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  background-color: #D3D3D3;
  overflow-x: hidden;
  overflow-y: auto;
  /* secondary color */
}

body {
  font-family: 'Fira Sans', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 80px;
}


.btn-outline-custom {
  border-width: 3px;
  /* Adjust as needed */
}

.left-column {
  white-space: nowrap;
  width: 1%;
}

.input-group {
  position: relative;
  display: flex;
}

.input-group .form-control {
  flex: 1;
}

.input-group .clear-btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}
